
<!-- <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Sign Up</h5>
      <a href="#" class="card-link">Have an account?</a>

      <form [formGroup]="signupForm">
        <div class="row col-12 col-lg-5 col-xl-5 col-sm-5 col-md-5 mb-5">
            <div class="mat-form-field-block"></div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" formControlName="username" required>
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <div class=" row col-12 col-lg-5 col-xl-5 col-md-5 col-sm-5">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-icon matSuffix>face</mat-icon>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

        </div>

        <div class="row mat-form-field-block">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </form>
    <div class="row col-12 col-lg-3 col-xl-3 col-md-3 col-sm-3 display">
        <button mat-raised-button color="primary" [disabled]="!signupForm.valid">Sign Up</button>
    </div>
    </div>
  </div> -->




<div class="container">
    <div class="card" style="width: 25rem;">
        <div class="card-header">
         <h2>SignUp</h2>
         <div>
             <a href="#" class="card-link" (click)="openSignin()">Have an account?</a>
         </div>
        </div>
         <div class="card-body">
             <form [formGroup]="signupForm">
                <div class="mat-form-field-block">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" required>
                        <mat-icon matSuffix>face</mat-icon>
                        <mat-error>Username is required</mat-error>
                    </mat-form-field>
                    <span class="errorMessage mb-1" *ngIf="errorMessage?.username">{{'userName'+'' +errorMessage?.username[0]}}</span>
                </div>

                 <div class="mat-form-field-block">
                     <mat-form-field class="example-full-width" appearance="outline">
                         <mat-label>Email</mat-label>
                         <input matInput formControlName="email" required>
                         <mat-icon matSuffix>mail</mat-icon>
                         <mat-error>Emial is required</mat-error>
                        </mat-form-field>
                        <span class="errorMessage mb-1" *ngIf="errorMessage?.email">{{'Email'+''+errorMessage?.email[0]}}</span>
                    
                 </div>
                 <div class="mat-form-field-block">
                     <mat-form-field class="example-full-width" appearance="outline">
                         <mat-label>Enter your password</mat-label>
                         <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                             [attr.aria-pressed]="hide">
                             <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                         </button>
                     </mat-form-field>
                   <!-- <label for="exampleInputPassword1">Password</label> -->
                   <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
                 </div>
                
                 <!-- <button type="signin" class="btn btn-primary" [disabled]="!signinForm.valid">Sign In</button> -->
               </form>
               <div class="row col-12 col-lg-3 col-xl-3 col-md-3 col-sm-3 display">
                 <button mat-raised-button color="primary" [disabled]="!signupForm.valid" (click)="saveSignup()">Sign Up</button>
             </div>
           
         </div>
     </div>
</div>