
<div  class="section">
    <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 mb-3">
        <div class="row">
              <mat-toolbar color="background">
                <mat-toolbar-row>
                  <span>Profile</span>
                </mat-toolbar-row>
              
                <mat-toolbar-row>
                
                </mat-toolbar-row>
              
                <mat-toolbar-row>
                <button mat-raised-button color="accent" (click)="openSettings()">Edit settings</button>
                </mat-toolbar-row>
              </mat-toolbar>
              
        </div>
    </div>
    <div class="container">
<div class="col-12">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-10 col-md-10 col-sm-10 viewcard">
      <mat-tab-group  [selectedIndex]=0>
        <mat-tab label="Post"><app-mypost></app-mypost></mat-tab>
        <mat-tab label="Favourite Posts">
          <app-favourite-button></app-favourite-button>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
    </div>
</div>
