<!-- <p>post-comments works!</p> -->
<div class="card bg-light mb-3" style="max-width: 30rem;">
    <!-- <div class="card-body"> -->
        <div class="row">
            <div class="mat-form-field-block">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Write a Comments</mat-label>
                    <textarea matInput placeholder="Write a comments"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class=" text-right">
            <!-- <div class="col-12 col-lg-3 col-xl-3 col-md-3 col-sm-2 mb-3"> -->
                <button mat-raised-button color="warn" (click)="saveData()">Post Comments</button>
            <!-- </div> -->
        <!-- </div> -->
  </div>
