<div class="section">
  <div class="row">
    <mat-toolbar color="primary">
      <span>A Place to share Knowledge...</span>
    </mat-toolbar>
  </div>
  <div class="container">
    <div class="col-12">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-10 col-md-10 col-sm-10 viewcard">
      <mat-tab-group [selectedIndex]=1>
        <mat-tab label="yourFeed">
          <app-your-feed></app-your-feed>
        </mat-tab>
        <mat-tab label="GobalFeed">
          <app-global-feed></app-global-feed>
        </mat-tab>
        <mat-tab [label]="selectedTags" *ngIf="selectedTags !==''"><app-tags [selectedTags]="selectedTags"></app-tags></mat-tab>
      </mat-tab-group>
    </div>
    <!-- <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-3">
      <app-tags (selectedData)="selectionData($event)"></app-tags>
    </div> -->
 
    <div class=" col-lg-2 col-2 " >
      <div class="card">
        <h5 class="card-title">Popular Tags</h5>
        <div class="card-body tags">
         <mat-chip-listbox aria-label="Fish selection" *ngFor="let item of tags">
           <mat-chip-option (selectionChange)="selcectchip(item)">{{item}}</mat-chip-option>
         </mat-chip-listbox>
       </div>
      </div>
  </div>
  </div>
</div>
</div>
</div>