           
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand text" href="#">Conduit</a>
                <div class="container-fluid">
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarRightAlignExample"
                    aria-controls="navbarRightAlignExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <i class="fas fa-bars"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarRightAlignExample">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" (click)="openHome()">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" (click)="openSignin()">Signin</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" (click)="openSignup()">Signup</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>  -->
             <div class="row">
                <mat-toolbar color="primary">
                    <span>A Place to share Knowledge...</span>
                  </mat-toolbar>
                </div>
       
    <div class="row">
        <div class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-7 viewcard">
            <mat-tab-group [selectedIndex]=1>
                <mat-tab label="yourFeed"> <app-your-feed></app-your-feed> </mat-tab>
                <mat-tab label="GobalFeed"> <app-global-feed></app-global-feed></mat-tab>
                 <mat-tab [label]="selectedTags" *ngIf="selectedTags !==''"> </mat-tab>
              </mat-tab-group>
        </div>
        <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-3">
            <app-tags (selectedData)="selectionData($event)"></app-tags>
<!-- tags components (data)=data($event) -->
        </div>
    </div>
