 <div class="card" style="width: 60rem;">
    <div class="card-body" *ngFor="let item of globalData">
        <div class="row">
            <h3 class="card-title mb-5">
                <img src="{{item.author.image}}" alt="">
                <a href=" {{item.author.username}}" target="_blank" (click)="navigateProfile()"> {{item.author.username}}</a>
                <div class="col-12 col-lg-2 col-xl-2 col-md-2 col-sm-2 mb-2 text">
                  <button type="button" class="btn btn-outline-success my-2 my-sm-0" >1</button>
                </div>
             </h3>
            <h5 class="card-subtitle mb-3 text-muted">
                <a routerlink >{{item.createdAt |date:'MM/dd/YYYY hh:mm'}}</a>
              </h5>
        </div>
      <h4 class="card-title bold">{{item.slug}}</h4>
      <h5 class="card-subtitle mb-4 text-muted">{{item.description}}</h5>
      <span><h5>Read More....</h5></span>
      <h6 class="text-muted tag-default tag-outline">
        <mat-chip-listbox aria-label="Fish selection" *ngFor="let options of item.tagList"> 
            <mat-chip-option>{{options}}</mat-chip-option>
          </mat-chip-listbox>
        </h6>
    </div>
</div>
          
<!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->


<!-- <div class="col-lg-12 patient-in-pagin ">
  <div class="row ">
     <div class="col-sm-2 patient-in-pagin-left">
       
      
       <span class="mr-3">Total Rows {{displayedRows}} of {{rowsCount}}</span><span>Page:{{page}}</span>
     
     </div>
     <div class="col-xl-1 col-lg-1 col-sm-5 patient-in-pagin-left">
        <mat-form-field class="example-full-width mat-field-0-padd" appearance="outline">
                       
           <mat-label>Page Size</mat-label>
           <mat-select [(ngModel)]="pageSize" name="list"
             [disableOptionCentering]="true" (selectionChange)="onSelectionChange($event)"
           >
             <mat-option *ngFor="let list of  this.pageSizes" [value]="list">
               {{list}}
             </mat-option>
           </mat-select>
         </mat-form-field> 

     </div>
     <div class="col-sm-9 patient-in-pagin-right ">
       <div class="pull-right ">
         <div class="email-btn-group m-l-15">
           <button mat-icon-button aria-label="Example icon-button with a heart icon" [disabled]="page<=1" (click)="navigatefirst()">
              <mat-icon>first_page</mat-icon>
            </button>
           <button mat-icon-button aria-label="Example icon-button with a heart icon" [disabled]="page<=1" (click)="navigateBefore()">
             <mat-icon>navigate_before</mat-icon>
           </button>
           <button mat-icon-button aria-label="Example icon-button with a heart icon" [disabled]="inPatients?.length<pageSize" (click)="navigateNext()">
             <mat-icon>navigate_next</mat-icon>
           </button>
           <button mat-icon-button aria-label="Example icon-button with a heart icon" [disabled]="inPatients?.length<pageSize" (click)="navigateLast()">
              <mat-icon>last_page</mat-icon>
            </button>
         </div>
       </div>
     </div>
   </div>  
  </div> -->




  